# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# OS files
.DS_Store
*.swp
*~

# App signing
*.mobileprovision
*.provisionprofile

# Secrets
*.xcconfig
!*Debug.xcconfig
!*Release.xcconfig
